@charset "ISO-8859-1";

.dropbtnLevel2 {
	background-color: #666666;
	color: white;
	padding: 4px;
	width: 100%;
	font-size: 14px;
	border-radius: 15px;
	outline:0;
	cursor: pointer;
}


.logoutButton {
	background-color: #cc0000;
	color: white;
	blod:true;
	padding: 8px;
    width: 100%;
	font-size: 14px;
	border-radius: 15px;
	outline:0;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
	background-color: #cc0000;
	color: white;
	blod:true;
	padding: 8px;
    width: 100%;
	font-size: 14px;
	border-radius: 15px;
	outline:0;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: white;
}

.sidenav a:hover, .dropbtnLevel2:hover {
    color: Black;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #4d0000;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: white;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
